<div class="row p-2">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Reported Data</h3>
      </div>
      <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabClick($event)">
        <mat-tab label="Reported User">
          <div class="row p-4">
            <div class="row m-3">
              <mat-form-field>
                <mat-label>Select Filter</mat-label>
                <mat-select [(ngModel)]="SFReportedUserFilter" name="ReportedUser">
                  <mat-option *ngFor="let obj of SFReportedUserFilterList" [value]="obj.value">
                    {{obj.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row m-3" style="height:10px">
              <button mat-raised-button color="primary" matTooltip="Load Reported Users"
                (click)="getReportedList('ReportedUser')">Load</button>
            </div>
          </div>
          <table id="example1" class="table table-bordered table-striped" *ngIf="reportedUsersList.length > 0 ">
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Type</th>
                <th>Reported Count</th>             
                <th>Reported Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of reportedUsersList; let index = index">
                <td>{{index + 1}}</td>
                <td>{{data.usesrName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.mobileNumber}}</td>
                <td>{{data.type}}</td>
                <td>{{data.reportedCount}}</td>
                <td>{{data.createdDate}}</td>
                <td>
                  <button mat-mini-fab color="accent"  (click)="openBlockModel(data)" aria-label="Edit" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Reported Post">
          <div class="row p-4">
            <div class="row m-3">
              <mat-form-field>
                <mat-label>Select Filter</mat-label>
                <mat-select [(ngModel)]="SFReportedPostFilter" name="ReportedPost">
                  <mat-option *ngFor="let obj of SFReportedPostFilterList" [value]="obj.value">
                    {{obj.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row m-3" style="height:10px">
              <button mat-raised-button color="primary" matTooltip="Load Reported Post"
                (click)="getReportedList('ReportedPost')">Load</button>
            </div>
          </div>
          <table id="example2" class="table table-bordered table-striped" *ngIf="reportedPostList.length > 0 ">
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>User Name</th>
                <th>User Contact</th>
                <th>Reported Count</th>
                <th>Reported Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of reportedPostList; let index = index">
                <td>{{index + 1}}</td>
                <td>{{data.usesrName}}</td>
                <td>{{data.userContact}}</td>
                <td>{{data.reportedCount}}</td>
                <td>{{data.type}}</td>
                <td>
                  <button mat-mini-fab color="accent"  (click)="openBlockModel(data)" aria-label="Edit" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Reported Comment">
          <div class="row p-4">
            <div class="row m-3">
              <mat-form-field>
                <mat-label>Select Filter</mat-label>
                <mat-select [(ngModel)]="SFReportedCmtFilter" name="reportedComment">
                  <mat-option *ngFor="let obj of SFReportedCmtFilterList" [value]="obj.value">
                    {{obj.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row m-3" style="height:10px">
              <button mat-raised-button color="primary" matTooltip="Show Reported Comment"
                (click)="getReportedList('ReportedComment')">Load</button>
            </div>
          </div>
          <table id="example3" class="table table-bordered table-striped" *ngIf="reportedCommentList.length > 0 ">
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>User Name</th>
                <th>User Contact</th>
                <th>Reported Count</th>
                <th>Reported Comment</th>
                <th>Reported Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of reportedCommentList; let index = index">
                <td>{{index + 1}}</td>
                <td>{{data.usesrName}}</td>
                <td>{{data.userContact}}</td>
                <td>{{data.reportedCount}}</td>
                <td>{{data.body}}</td>
                <td>{{data.createdDate}}</td>
                <td>
                  <button mat-mini-fab color="accent"  (click)="openBlockModel(data)" aria-label="Edit" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<button id="blockUsersData" style="display: none;" class="btn btn-social-icon btn-xs btn-success" type="button"
data-toggle="modal" data-target="#block-user">
</button>

<div class="modal fade" id="block-user">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Block User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row p-4">
          <div class="col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="Enter Title" [(ngModel)]="userObj.usesrName" name="name" readonly>
            </mat-form-field>
          </div>
        </div>
        <div class="row p-4">
          <div class="col-sm-6">
            <mat-slide-toggle [(ngModel)]="userObj.isPermanentBlock" name="isPermanentBlock" >
              Block Permanent:
              {{userObj.isPermanentBlock ? 'Yes' : 'No'}}</mat-slide-toggle>
          </div>
          <div class="col-sm-6" *ngIf="!(userObj.isPermanentBlock)">
            <mat-form-field class="example-full-width">
              <mat-label>Block Duration</mat-label>
              <input matInput [(ngModel)]="userObj.blockDuration" placeholder="Duration in days" name="name"
                type="number">
            </mat-form-field>
          </div>
        </div>

        <div class="row p-4">
          <div class="col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-label>Block Reason</mat-label>
              <textarea matInput [(ngModel)]="userObj.blockReason" placeholder="Block Reason" name="name"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button"  class="btn btn-default float-right" data-dismiss="modal">Close</button>
        <button type="button" (click)="submitBlockForm(userObj)" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
