<div class="row p-2">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Users</h3>
            </div>
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabClick($event)">
              <mat-tab label="Users List">
                <div class="row p-4">
                  <div class="row m-3">
                    <mat-form-field>
                      <mat-label>Select Filter</mat-label>
                      <mat-select [(ngModel)]="SFCatFilter" name="user">
                        <mat-option *ngFor="let obj of SFCatFilterList" [value]="obj.value">
                          {{obj.key}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
      
                  <div class="row m-3" style="height:10px">
                    <button mat-raised-button color="primary" matTooltip="Show Users" (click)="getUsersList()">Show
                      Users</button>
                  </div>
                </div>
                <table id="example1" class="table table-bordered table-striped" *ngIf="userList.length > 0 ">
                  <thead>
                    <tr>
                      <th>Sr.No.</th>
                      <th></th>
                      <th>Name</th>
                      <th>User Name</th>
                      <th>Mobile Number</th>
                      <th>Gender</th>
                      <th>Blocked</th>
                      <th>Verification Status</th>
                      <!-- <th>Referred By</th> -->
                      <th>Verification Video</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of userList; let index = index">
                      <td>{{index + 1}}</td>
                      <td> <img [src]="data.profileImage" alt="FameLinks Logo"  class="brand-image elevation-3" style="opacity: .8 ; width: 80px;"> </td>
                      <td>{{data.name ? data.name : "NA"}}</td>
                      <td>{{data.username ? data.username : "NA"}}</td>
                      <td>{{data.mobileNumber ? data.mobileNumber :"NA"}}</td>
                      <td>{{data.gender ? data.gender : "NA"}}</td>
                      <td>{{data.isBlocked ?  "Yes" : "No"}}</td>
                      <td>{{data.verificationStatus}}</td>
                      <!-- <td>{{data.referredBy}}</td> -->
                      <td *ngIf = "data.verificationVideoUrl; else loggedOut" ><video width="125" controls>
                        <source [src]="data.verificationVideoUrl" type="video/mp4">
                      </video></td>
                      <ng-template #loggedOut>
                        <td>NA</td>
                      </ng-template>                      
                      <td>
                        <button class="action-btn" mat-flat-button color="primary" (click)="userAction('View',data)">View Details</button>
                        <button *ngIf="data.verificationStatus === 'Submitted'" class="action-btn" mat-flat-button style="background-color: rgb(16, 179, 30);" (click)="userAction('Approve',data)">Approve</button>
                        <button *ngIf="data.verificationStatus === 'Submitted' || data.verificationStatus === 'Verified'" class="action-btn" mat-flat-button color="warn" (click)="userAction('Reject',data)">Reject</button>        
                        <!-- <mat-icon  aria-hidden="false" aria-label="View User" class="pointer"  matTooltip="View User Details.." (click)="userAction('View',data)">account_circle</mat-icon>
                        <mat-icon  aria-hidden="false" aria-label="Verify User" class="pointer" matTooltip="verify user.." (click)="userAction('Verify',data)">how_to_reg</mat-icon> -->
                      </td>

                    </tr>
                  </tbody>
                </table>
              </mat-tab> 
              <mat-tab label="User Profile">
                  <form [formGroup]="usersForm"  id="userFormID">
                    <div class="row p-4">
                      <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>User Name</mat-label>
                          <input matInput placeholder="Enter Title" name="name" formControlName="name" readonly>
                          <bfv-messages class="error-msg"></bfv-messages>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Email</mat-label>
                          <input matInput  name="email" formControlName="email" readonly>
                          <bfv-messages class="error-msg"></bfv-messages>
                        </mat-form-field>
                      </div>
                      
                      <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Mobile Number</mat-label>
                          <input matInput  name="mobileNumber" formControlName="mobileNumber" readonly>
                          <bfv-messages class="error-msg"></bfv-messages>
                        </mat-form-field>
                      </div>
                    </div>  
                    <div class="row p-4">
                      <div class="col-sm-2">
                        <mat-form-field class="example-full-width">
                          <mat-label>Gender</mat-label>
                          <input matInput  name="gender" formControlName="gender" readonly>
                          <bfv-messages class="error-msg"></bfv-messages>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-2">
                        <mat-form-field class="example-full-width">
                          <mat-label>ReferredBy</mat-label>
                          <input matInput  name="referredBy" formControlName="referredBy" readonly>
                          <bfv-messages class="error-msg"></bfv-messages>
                        </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Referral Code</mat-label>
                            <input matInput  name="referralCode" formControlName="referralCode" readonly>
                            <bfv-messages class="error-msg"></bfv-messages>
                          </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Is Blocked</mat-label>
                              <input matInput  name="isBlocked" formControlName="isBlocked" readonly>
                              <bfv-messages class="error-msg"></bfv-messages>
                            </mat-form-field>
                          </div>
                          <div class="col-sm-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Is Verified</mat-label>
                              <input matInput  name="isVerified" formControlName="isVerified" readonly>
                              <bfv-messages class="error-msg"></bfv-messages>
                            </mat-form-field>
                          </div>
                    </div>
                  </form>
                </mat-tab>
                
                </mat-tab-group>
        </div>
    </div>
</div>