<div class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-side-nav></app-side-nav>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark sidebar-mini">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <app-footer></app-footer>
  </div>
</div>