/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 .mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}
.example-full-width{
    width: 100%;
}

.card-header {
    background-color: #673ab7 !important;
}
.pointer{
    cursor: pointer;
}
.fz-24{
    font-size: 24px;
}